/* https://stackoverflow.com/a/56951626 */
.resultWord {
	position: relative;
}
.resultWord:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	opacity: 0.4;
	z-index: -1;
}

.notFound:after {
	background-color: red;
}
.notOptimal:after {
	background-color: yellow;
}
.optimal:after {
	background-color: green;
}

.highlightedWord:after {
	opacity: 1;
}
.selectedWord:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	margin: -1px;
	border: 1px solid blue;
}

.legendEntry:after {
	content: "";
	width: 20px;
	height: 20px;
	float: left;
}

.dialogueBox {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
	background-color: white;
	border: 1px solid black;
}
.dialogueBox td {
	padding: 2px;
}
.dialogueCloseContainer {
	vertical-align: bottom;
	line-height: 0;
	padding: 0px;
}
.dialogueClose {
	background-color: white;
	border: 1px solid black;
	border-right: 0px;
	border-bottom: 0px;
	font-size: 14px;
	padding: 1px;
	line-height: 1ex;
	vertical-align: bottom;
	cursor: pointer;
}
.dialogueCopy {
	background-image: url(copy.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: transparent;
	border: none;
	height: 25px;
	width: 25px;
	cursor: pointer;
}
.tempCopyArea {
	position: fixed;
	top: 0;
	left: 0;
}

pre {
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
