.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    pointer-events: all;
    stroke: #000000;
    stroke-width: 1.5px;
    cursor: pointer;
}

h3 {
    color: #1ABC9C;
    text-align:center;
    font-style: italic;
    font-size: 14px;
    font-family: "Helvetica";
}

svg {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.tooltip {
    position: absolute;
    background-color: white;
    max-width; 200px;
    height: auto;
    padding: 1px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    pointer-events: none;
}

button {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}

.my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}

.my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}

.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}
#table-of-similarities {
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#table-of-similarities th {
    cursor: pointer;
}

#table-of-similarities th,
#table-of-similarities td {
    padding: 12px 15px;
}

#table-of-similarities tr {
    border-bottom: 1px solid #dddddd;
    text-align: left;
}

#table-of-similarities tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#table-of-similarities #first-row {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}